# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Doriela\Desktop\Year 4\Summer 2021\Project\final-project-starter-master\TwitterMapperStarter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
